.canvas-container{       
    position: absolute !important; 
    left: 0px;
    top: 0px;
 }    
 #maskRolex{
    opacity: 0;
 }
 #maskRolexDuplicate{
   opacity: 0.5;
 }
 #Element{
	height: 50px;
    font-size: 38px;
    text-align: center;
    width: 1448px;
    position: absolute;
}
